

main{ /*space-around*/
    display: flex;
    flex-flow:  row nowrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 50px;
    height: 200px;

    border: 1px solid black;
    
} 

div{
    border: 1px solid black;
    margin: 10px;
    width: 100px;
    height: 20px;

    color: white;
    background-color: blue;
}
 
#pai2{ /*space-evenly*/
    display: flex;
    flex-flow:  row nowrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 50px;
    height: 200px;

    border: 1px solid black;
    
}

#pai3{ /*Space-between*/
    display: flex;
    flex-flow:  row nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 50px;
    height: 200px;

    border: 1px solid black;
}


#pai5{  /*Flex-start*/
    display: flex;
    flex-flow:  row nowrap;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    margin: 50px;
    height: 200px;
    
    border: 1px solid black;
}

#pai6{  /*Flex-end*/
    display: flex;
    flex-flow:  row nowrap;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    margin: 50px;
    height: 200px;
    
    border: 1px solid black;
}

#pai4{ /*Center*/
    display: flex;
    flex-flow:  row nowrap;
    justify-content: center;
    align-items: center; 
    text-align: center;
    margin: 50px;
    height: 200px;

    border: 1px solid black;
}