

main{
    display: flex;
    text-align: center;
    margin: 50px;

    border: 1px solid black;
}

div{
    border: 1px solid black;
    flex: auto;
    margin: 10px;

    background-color: blue;
}

