

main#pai1{
    
    text-align: center;
    margin: 50px;

    border: 1px solid black;
}

div.filhos1{
    border: 1px solid black;
    
    margin: 10px;

    background-color: blue;
}

main#pai2{
    display: flex;

   /* flex-flow: column wrap; */

    flex-direction: row; /* Eixo principal*/
    flex-wrap: wrap; /* Eixo transversal*/

    text-align: center;
    margin: 50px;
    

    border: 1px solid black;
}

div.filhos2{
    flex: auto; 
    width: 100px;

    border: 1px solid black;
    margin: 10px;

    background-color: aquamarine;
}
